html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: #a9b4bd;
    font-size: 1.1rem;
    font-weight: 600;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
.container1 {
    max-width: 1500px;
    margin: 0 auto;
}
.flex { 
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.flex1 {
    justify-content: flex-start;
}
.flex2 {
    flex-direction:column;
    align-items: center;
}
body {
    font-family: titillium web,sans-serif;
}

/* Header */
.nav_bar {
    /* padding: 20px 10px; */
    color: #a9b4bd;
}
.logo h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 10px;
    margin-right: 2rem;
    color: #5cb85c;
}

/* hero section */
.hero_section {
    padding: 3.5rem;
    background: #5BB75B;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3),inset 0 -8px 8px -8px rgba(0,0,0,.3);
}
.hero_section h1 {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.hero_section p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.btn_tags {
    border: 0;
    background-color: #818A91;
    color: #fff;
    border-radius: 20px;
    margin: 3px;
    padding: 3px 5px;
    font-size: 1rem;
}
.tags_card {
    background: #F3F3F3;
    flex-basis: 80px;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}
.article_author, .feed_block {
    display: block;
    margin: 5px;   
}
.author {
    color: #5BB75B;
    display: block;
}
.favorite_count {
    border: 1px solid #5BB75B;
    color: #5BB75B;
    background: transparent;
    height: 28px;
    width: 40px;
    border-radius: 5px;
}
.unfavorite {
    color: #fff;
    background-color: #5BB75B;
}
.tags_flex_card {
    flex-basis: 300px;
    padding: 10px;
}
.articles_flex_card {
    flex-basis: 800px;

}
.author_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #5BB75B;
}
.author_image {
    width: 25px;
    height: 25px;
    align-items: center;
}
.article_top {
    padding-top: 35px;
    border-top: 1px solid #cbd2d6;
    padding-bottom: 35px;
}
.tags_card h4 {
    color: #65686b;
    padding: 10px;
}
.feed_btn {
    margin: 0 5px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 1.25rem;
    border: none;
    background: transparent;
    color: #424547;
    border: 2px solid #5BB75B;
    border-radius: 5px;

}
.active_feed {
    border-bottom: 2px solid #5BB75B;
    background: #5BB75B;
    color: #F3F3F3;
}

.article_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #424547;
    padding-top:10px;
}
.article_description {
    font-size: 1.25;
    font-weight: 300;
    color: #818A91;
    padding:5px 0;
}
.article_date {
    font-size: .85rem;
    color: #a9b4bd;
}
.padding {
    margin-bottom: 20px 0;
}

.primary {
    padding: 10px 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    margin: 4px;
    border: 2px solid #65686b;
}
.primary_color {
    color: #5CB85C;
    margin: 10px;
}
.primary_btn {
    background: #5CB85C;
    color: #fff;
}
.right_align {
    text-align: right;
}
.form_field {
    width: 500px;
    font-size: 1.5rem;
    padding: .75rem;
    margin: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 168);
}
.signup_card {
    text-align: center;
}
.signup_card h1 {
    font-size: 2.5rem;
    margin: 10px;
}
label {
    text-align: left;
    font-weight: bolder;
    font-size: 1.2rem;
}

.user_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #5BB75B;
}
.logout {
    background: transparent;
    border: 2px solid rgb(185, 54, 54);
    color: rgb(185, 54, 54);
}